In [1]:
pip install mlxtend

Requirement already satisfied: mlxtend in /opt/conda/lib/python3.7/site-packages (0.18.0)
Requirement already satisfied: scipy>=1.2.1 in /opt/conda/lib/python3.7/site-packages (from mlxtend) (1.4.1)
Requirement already satisfied: numpy>=1.16.2 in /opt/conda/lib/python3.7/site-packages (from mlxtend) (1.19.5)
Requirement already satisfied: joblib>=0.13.2 in /opt/conda/lib/python3.7/site-packages (from mlxtend) (1.0.0)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.7/site-packages (from mlxtend) (49.6.0.post20201009)
Requirement already satisfied: matplotlib>=3.0.0 in /opt/conda/lib/python3.7/site-packages (from mlxtend) (3.3.3)
Requirement already satisfied: pandas>=0.24.2 in /opt/conda/lib/python3.7/site-packages (from mlxtend) (1.2.0)
Requirement already satisfied: scikit-learn>=0.20.3 in /opt/conda/lib/python3.7/site-packages (from mlxtend) (0.23.2)
Requirement already satisfied: pillow>=6.2.0 in /opt/conda/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (7.2.0)
Requirement already satisfied: python-dateutil>=2.1 in /opt/conda/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /opt/conda/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: six in /opt/conda/lib/python3.7/site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.7/site-packages (from pandas>=0.24.2->mlxtend) (2019.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.7/site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)
WARNING: You are using pip version 21.0; however, version 21.0.1 is available.
You should consider upgrading via the '/opt/conda/bin/python3.7 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/widsdatathon2021/SampleSubmissionWiDS2021.csv
/kaggle/input/widsdatathon2021/SolutionTemplateWiDS2021.csv
/kaggle/input/widsdatathon2021/DataDictionaryWiDS2021.csv
/kaggle/input/widsdatathon2021/UnlabeledWiDS2021.csv
/kaggle/input/widsdatathon2021/TrainingWiDS2021.csv

In [2]:
import pandas as pd
import numpy as np
from lightgbm import LGBMClassifier
from sklearn import metrics
import seaborn as sns
import itertools
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn import model_selection
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn import metrics

# Classifiers
from sklearn.svm import NuSVC, SVC
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier
from mlxtend.classifier import StackingCVClassifier # <- Here is our boy

from sklearn.ensemble import RandomForestClassifier, StackingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [3]:
import numpy as np 
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from catboost import Pool, cv, CatBoostClassifier, CatBoostRegressor

from sklearn.metrics import mean_squared_error, classification_report
from sklearn.preprocessing import LabelEncoder

from sklearn.model_selection import train_test_split

# import xgboost
# import lightgbm as lgb
# from lightgbm import LGBMClassifier

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))
        
import gc
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn import metrics
pd.set_option('max_rows', 300)
import re

/kaggle/input/widsdatathon2021/SampleSubmissionWiDS2021.csv
/kaggle/input/widsdatathon2021/SolutionTemplateWiDS2021.csv
/kaggle/input/widsdatathon2021/DataDictionaryWiDS2021.csv
/kaggle/input/widsdatathon2021/UnlabeledWiDS2021.csv
/kaggle/input/widsdatathon2021/TrainingWiDS2021.csv

In [4]:
pd.set_option('display.max_columns', 300)
np.random.seed(566)
pd.set_option('display.max_rows', 200)
pd.set_option('display.width', 1000)
pd.set_option('display.float_format', '{:20,.2f}'.format)
pd.set_option('display.max_colwidth', -1)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.

In [5]:
df1 =pd.read_csv('/kaggle/input/widsdatathon2021/TrainingWiDS2021.csv')
df2 =pd.read_csv('/kaggle/input/widsdatathon2021/UnlabeledWiDS2021.csv')

In [6]:
y=df1['diabetes_mellitus']

In [7]:
df = df1.drop(['diabetes_mellitus'], axis=1).append(df2)
df.shape

(140391, 180)

In [8]:
df.drop(df.columns[df.columns.str.contains('^h1')], axis=1, inplace=True)
df.drop(['hospital_id'], axis=1, inplace=True)
df.drop(df.columns[df.columns.str.contains('^Un')], axis=1, inplace=True)
df.drop(df.columns[df.columns.str.contains('invasive')], axis=1, inplace=True)
df.drop(df.columns[df.columns.str.contains('noninvasive')], axis=1, inplace=True)
df.drop(['icu_id'], axis=1, inplace=True)
cols = df.columns[df.isnull().mean()>0.7]
print(cols)

Index(['fio2_apache', 'paco2_apache', 'paco2_for_ph_apache', 'pao2_apache', 'ph_apache', 'd1_lactate_max', 'd1_lactate_min', 'd1_pao2fio2ratio_max', 'd1_pao2fio2ratio_min'], dtype='object')

In [9]:
df.drop(cols, axis=1, inplace=True)
df.drop(['readmission_status'], axis=1,inplace=True)
df.drop(['hepatic_failure'], axis=1,inplace=True)
threshold = 0.0
df.drop(df.std()[df.std()==threshold].index.values, axis=1,inplace=True)
df.shape

(140391, 90)

In [10]:
df['pp']=df['d1_sysbp_max']-df['d1_diasbp_max']
df['gcs']=df['gcs_eyes_apache']+df['gcs_motor_apache']+df['gcs_verbal_apache']
df['bmi_calc'] = df['weight']/(df['height']/100)**2
df.drop(['bmi'],axis=1,inplace=True)
df.shape

(140391, 92)

In [11]:
df['gcs']=df['gcs']+df['gcs_unable_apache']
df.drop(['gcs_eyes_apache'],axis=1,inplace=True)
df.drop(['gcs_motor_apache'],axis=1,inplace=True)
df.drop(['gcs_verbal_apache'],axis=1,inplace=True)
df.drop(['gcs_unable_apache'],axis=1,inplace=True)
df.shape

(140391, 88)

In [12]:
df.shape

(140391, 88)

In [13]:
df.head(3)

,encounter_id,age,elective_surgery,ethnicity,gender,height,hospital_admit_source,icu_admit_source,icu_stay_type,icu_type,pre_icu_los_days,weight,albumin_apache,apache_2_diagnosis,apache_3j_diagnosis,apache_post_operative,arf_apache,bilirubin_apache,bun_apache,creatinine_apache,glucose_apache,heart_rate_apache,hematocrit_apache,intubated_apache,map_apache,resprate_apache,sodium_apache,temp_apache,urineoutput_apache,ventilated_apache,wbc_apache,d1_diasbp_max,d1_diasbp_min,d1_heartrate_max,d1_heartrate_min,d1_mbp_max,d1_mbp_min,d1_resprate_max,d1_resprate_min,d1_spo2_max,d1_spo2_min,d1_sysbp_max,d1_sysbp_min,d1_temp_max,d1_temp_min,d1_albumin_max,d1_albumin_min,d1_bilirubin_max,d1_bilirubin_min,d1_bun_max,d1_bun_min,d1_calcium_max,d1_calcium_min,d1_creatinine_max,d1_creatinine_min,d1_glucose_max,d1_glucose_min,d1_hco3_max,d1_hco3_min,d1_hemaglobin_max,d1_hemaglobin_min,d1_hematocrit_max,d1_hematocrit_min,d1_inr_max,d1_inr_min,d1_platelets_max,d1_platelets_min,d1_potassium_max,d1_potassium_min,d1_sodium_max,d1_sodium_min,d1_wbc_max,d1_wbc_min,d1_arterial_pco2_max,d1_arterial_pco2_min,d1_arterial_ph_max,d1_arterial_ph_min,d1_arterial_po2_max,d1_arterial_po2_min,aids,cirrhosis,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,pp,gcs,bmi_calc
0,214826,68.00,0,Caucasian,M,180.30,Floor,Floor,admit,CTICU,0.54,73.90,2.30,113.00,502.01,0,0,0.40,31.00,2.51,168.00,118.00,27.40,0,40.00,36.00,134.00,39.30,NaN,0,14.10,68.00,37.00,119.00,72.00,89.00,46.00,34.00,10.00,100.00,74.00,131.00,73.00,39.90,37.20,2.30,2.30,0.40,0.40,31.00,30.00,8.50,7.40,2.51,2.23,168.00,109.00,19.00,15.00,8.90,8.90,27.40,27.40,NaN,NaN,233.00,233.00,4.00,3.40,136.00,134.00,14.10,14.10,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,63.00,13.00,22.73
1,246060,77.00,0,Caucasian,F,160.00,Floor,Floor,admit,Med-Surg ICU,0.93,70.20,NaN,108.00,203.01,0,0,NaN,9.00,0.56,145.00,120.00,36.90,0,46.00,33.00,145.00,35.10,NaN,1,12.70,95.00,31.00,118.00,72.00,120.00,38.00,32.00,12.00,100.00,70.00,159.00,67.00,36.30,35.10,1.60,1.60,0.50,0.50,11.00,9.00,8.60,8.00,0.71,0.56,145.00,128.00,27.00,26.00,11.30,11.10,36.90,36.10,1.30,1.30,557.00,487.00,4.20,3.80,145.00,145.00,23.30,12.70,37.00,37.00,7.45,7.45,51.00,51.00,0,0,0,0,0,0,64.00,5.00,27.42
2,276985,25.00,0,Caucasian,F,172.70,Emergency Department,Accident & Emergency,admit,Med-Surg ICU,0.00,95.30,NaN,122.00,703.03,0,0,NaN,NaN,NaN,NaN,102.00,NaN,0,68.00,37.00,NaN,36.70,NaN,0,NaN,88.00,48.00,96.00,68.00,102.00,68.00,21.00,8.00,98.00,91.00,148.00,105.00,37.00,36.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,60.00,14.00,31.95

In [14]:
existing_cat_columns=[]
for col in df.columns:
    if df[col].dtype =='object':
        existing_cat_columns.append(col)
		
print(existing_cat_columns)

['ethnicity', 'gender', 'hospital_admit_source', 'icu_admit_source', 'icu_stay_type', 'icu_type']

In [15]:
from sklearn.preprocessing import LabelEncoder
for c in df.columns:
 if df[c].dtype == 'object':
     lbl = LabelEncoder()
     lbl.fit(list(df[c].values) + list(df[c].values))
     df[c] = lbl.transform(list(df[c].values))

In [16]:
df[existing_cat_columns].isnull().sum(axis=0)

ethnicity                0
gender                   0
hospital_admit_source    0
icu_admit_source         0
icu_stay_type            0
icu_type                 0
dtype: int64

In [18]:
binaryColumns = ['elective_surgery','apache_post_operative','intubated_apache','ventilated_apache','aids','cirrhosis','immunosuppression','leukemia','lymphoma','solid_tumor_with_metastasis']

In [19]:
for col in binaryColumns:
    df[col].fillna(df[col].mode()[0],inplace=True)

In [20]:
df[binaryColumns].isnull().sum(axis=0)

elective_surgery               0
apache_post_operative          0
intubated_apache               0
ventilated_apache              0
aids                           0
cirrhosis                      0
immunosuppression              0
leukemia                       0
lymphoma                       0
solid_tumor_with_metastasis    0
dtype: int64

In [21]:
existing_numerical_columns=[]
for col in df.columns:
    if df[col].dtype =='int32' or df[col].dtype =='float32' or df[col].dtype =='int64' or df[col].dtype =='float64':
        existing_numerical_columns.append(col)
for i in existing_numerical_columns:
    print(df[i].value_counts())

262144    1
186894    1
190984    1
188937    1
195082    1
         ..
171257    1
169208    1
191735    1
189686    1
266238    1
Name: encounter_id, Length: 140391, dtype: int64
67.00    3447
68.00    3293
71.00    3291
66.00    3217
72.00    3201
65.00    3146
63.00    3104
70.00    3096
73.00    3002
62.00    2980
69.00    2953
64.00    2933
74.00    2931
75.00    2907
61.00    2894
60.00    2869
59.00    2869
77.00    2836
76.00    2824
57.00    2796
78.00    2755
58.00    2711
79.00    2669
56.00    2666
55.00    2637
54.00    2531
80.00    2485
81.00    2464
82.00    2429
53.00    2429
83.00    2365
84.00    2328
52.00    2298
51.00    2119
85.00    2107
86.00    1985
50.00    1982
87.00    1859
49.00    1758
88.00    1623
48.00    1545
47.00    1489
89.00    1431
46.00    1425
45.00    1382
44.00    1187
43.00    1152
42.00    1106
41.00    991
36.00    903
40.00    899
39.00    852
38.00    834
34.00    824
35.00    820
37.00    816
33.00    760
30.00    754
32.00    742
31.00    718
28.00    703
26.00    681
25.00    667
27.00    657
29.00    649
24.00    635
23.00    611
22.00    607
21.00    591
20.00    533
19.00    529
18.00    458
17.00    180
16.00    85
90.00    81
91.00    71
92.00    69
94.00    44
93.00    42
96.00    32
 0.00    30
95.00    29
Name: age, dtype: int64
0    113634
1    26757
Name: elective_surgery, dtype: int64
2    108175
0    14842
5    6696
3    5520
1    2369
6    1791
4    998
Name: ethnicity, dtype: int64
1    76043
0    64277
2    71
Name: gender, dtype: int64
167.60    7969
160.00    7916
177.80    7900
172.70    7317
165.10    7202
          ...
189.23    1
145.20    1
157.10    1
152.80    1
173.99    1
Name: height, Length: 453, dtype: int64
3     55103
15    35931
8     14867
4     12445
2     8949
13    4968
10    2590
0     2097
14    1706
12    1031
11    306
1     276
6     68
5     37
7     10
9     7
Name: hospital_admit_source, dtype: int64
0    82820
2    29694
1    23115
3    3717
4    780
5    265
Name: icu_admit_source, dtype: int64
0    134829
2    4922
1    640
Name: icu_stay_type, dtype: int64
5    77038
0    12116
4    11822
6    11311
3    8967
7    8950
1    5365
2    4822
Name: icu_type, dtype: int64
 0.00    5849
 0.00    1846
 0.00    1262
 0.00    1130
 0.00    1018
         ...
 5.15    1
17.75    1
 7.30    1
 6.85    1
10.16    1
Name: pre_icu_los_days, Length: 11271, dtype: int64
 68.00    1550
 81.60    1368
 63.50    1250
 90.70    1212
 77.10    1147
          ...
 91.53    1
 70.04    1
185.60    1
112.09    1
 47.27    1
Name: weight, Length: 3646, dtype: int64
3.10    3226
2.90    3143
3.00    3133
2.80    3074
3.20    2980
2.70    2833
3.30    2793
2.60    2750
2.50    2557
3.40    2462
2.40    2332
2.30    2189
3.50    2158
3.60    1984
2.20    1927
3.70    1763
2.10    1715
2.00    1552
3.80    1490
3.90    1294
1.90    1240
4.00    1036
1.80    1002
1.70    821
4.10    776
1.60    716
4.20    542
1.50    498
1.20    491
4.30    412
1.40    353
1.30    267
4.40    263
4.60    186
4.50    175
1.10    39
3.44    1
Name: albumin_apache, dtype: int64
113.00    17507
301.00    10605
302.00    9693
112.00    6514
308.00    6385
124.00    5990
117.00    5737
122.00    5585
303.00    5432
304.00    4992
110.00    4718
203.00    4158
106.00    3820
121.00    3737
202.00    3695
114.00    3552
305.00    3355
123.00    3089
119.00    2934
102.00    2802
307.00    2785
118.00    2551
120.00    2146
214.00    1795
108.00    1789
109.00    1535
105.00    1464
218.00    1183
213.00    1133
207.00    1065
306.00    896
217.00    869
219.00    765
209.00    720
101.00    667
104.00    628
103.00    531
115.00    416
107.00    324
116.00    300
215.00    230
208.00    230
212.00    145
216.00    69
Name: apache_2_diagnosis, dtype: int64
  501.05    6579
  107.01    6514
  403.01    5841
  106.01    5737
  703.03    4496
            ...
1,602.08    1
    0.10    1
  704.11    1
    0.03    1
1,408.10    1
Name: apache_3j_diagnosis, Length: 402, dtype: int64
0    111186
1    29205
Name: apache_post_operative, dtype: int64
0    136550
1    3841
Name: arf_apache, dtype: int64
 0.40    6088
 0.50    5759
 0.30    5114
 0.60    4929
 0.70    4119
         ...
33.80    1
21.80    1
 8.17    1
23.00    1
 7.92    1
Name: bilirubin_apache, Length: 593, dtype: int64
13.00    5081
12.00    4945
14.00    4941
15.00    4816
11.00    4793
         ...
60.20    1
70.50    1
34.20    1
 4.40    1
92.40    1
Name: bun_apache, Length: 496, dtype: int64
0.80    3952
0.70    3781
0.90    3083
0.60    2903
1.10    2012
        ...
0.67    1
0.98    1
0.41    1
0.47    1
0.67    1
Name: creatinine_apache, Length: 1202, dtype: int64
 92.00    1470
 96.00    1465
 97.00    1435
 95.00    1414
 93.00    1407
          ...
 97.60    1
 98.80    1
541.00    1
 99.20    1
 97.90    1
Name: glucose_apache, Length: 567, dtype: int64
100.00    2803
102.00    2697
108.00    2655
104.00    2626
106.00    2587
 98.00    2553
110.00    2544
112.00    2476
 96.00    2463
 60.00    2443
114.00    2344
105.00    2342
101.00    2334
107.00    2244
103.00    2241
 94.00    2191
 99.00    2179
 97.00    2174
109.00    2160
116.00    2127
118.00    2053
111.00    2016
 92.00    1974
120.00    1948
 95.00    1944
113.00    1915
115.00    1891
 93.00    1853
117.00    1823
 58.00    1810
 56.00    1787
 90.00    1676
 54.00    1664
124.00    1658
122.00    1634
 52.00    1625
121.00    1617
119.00    1595
 91.00    1569
123.00    1520
126.00    1517
 59.00    1515
 55.00    1482
 57.00    1470
128.00    1438
 50.00    1380
 53.00    1369
130.00    1313
125.00    1309
127.00    1242
129.00    1205
 61.00    1187
 51.00    1174
 88.00    1164
 62.00    1127
132.00    1122
 89.00    1121
 48.00    1092
131.00    1039
 49.00    1026
134.00    995
133.00    980
135.00    907
136.00    904
 46.00    870
 87.00    864
138.00    859
137.00    820
 47.00    804
 63.00    802
 86.00    761
 30.00    745
140.00    744
139.00    711
 44.00    695
141.00    677
142.00    675
 64.00    667
 45.00    648
144.00    638
178.00    627
143.00    528
146.00    518
 85.00    498
 43.00    497
 42.00    493
 65.00    486
148.00    474
150.00    449
145.00    444
 84.00    427
147.00    406
152.00    384
149.00    382
 66.00    354
 40.00    353
 41.00    346
151.00    331
 70.00    328
154.00    326
156.00    312
 39.00    275
153.00    266
 83.00    258
 38.00    251
160.00    231
 82.00    229
 68.00    221
158.00    218
 67.00    218
157.00    214
155.00    213
159.00    210
 37.00    195
 36.00    191
 34.00    163
 69.00    163
 35.00    163
 80.00    162
162.00    154
163.00    153
161.00    145
165.00    143
 81.00    143
164.00    141
 32.00    137
166.00    133
 33.00    123
 31.00    107
170.00    103
169.00    101
176.00    101
168.00    95
167.00    87
174.00    83
172.00    81
171.00    68
175.00    67
 30.02    59
173.00    58
177.00    49
 79.00    34
 71.00    21
 72.00    11
 78.00    11
 76.00    7
 77.00    7
 74.00    6
 73.00    5
 75.00    2
Name: heart_rate_apache, dtype: int64
34.00    1033
36.00    1029
35.00    1003
33.00    1003
32.00    993
        ...
50.90    16
50.70    16
51.20    16
16.60    13
16.00    5
Name: hematocrit_apache, Length: 355, dtype: int64
0    118270
1    22121
Name: intubated_apache, dtype: int64
 56.00    3291
 54.00    3154
 58.00    3150
 53.00    3022
 55.00    3013
 60.00    3002
 40.00    2992
 57.00    2959
 52.00    2951
 59.00    2915
 50.00    2796
 51.00    2785
 62.00    2735
 61.00    2735
 48.00    2538
 63.00    2531
 49.00    2512
 64.00    2469
 47.00    2359
 41.00    2290
 65.00    2270
 46.00    2261
 42.00    2259
 66.00    2155
 44.00    2145
 45.00    2120
 43.00    2069
 67.00    2027
 68.00    1860
 69.00    1569
 70.00    1478
 71.00    1244
120.00    1198
 72.00    1180
117.00    1169
124.00    1152
121.00    1139
119.00    1132
126.00    1127
123.00    1121
125.00    1110
128.00    1110
122.00    1106
129.00    1102
116.00    1097
118.00    1089
127.00    1067
130.00    1052
132.00    1031
131.00    1010
133.00    1007
 73.00    1002
114.00    999
115.00    997
113.00    990
134.00    980
136.00    945
112.00    943
135.00    897
 74.00    848
139.00    844
138.00    830
110.00    826
142.00    810
137.00    785
111.00    782
141.00    770
140.00    764
 75.00    733
108.00    701
109.00    699
144.00    698
143.00    654
145.00    644
 76.00    628
148.00    628
146.00    596
149.00    568
107.00    565
150.00    537
147.00    530
106.00    503
151.00    499
152.00    466
 77.00    433
153.00    423
155.00    416
154.00    405
104.00    404
156.00    399
157.00    387
105.00    384
 78.00    371
158.00    337
159.00    328
160.00    311
164.00    306
161.00    306
162.00    293
167.00    284
163.00    272
103.00    271
 79.00    267
165.00    263
166.00    256
168.00    254
170.00    235
171.00    234
169.00    224
102.00    223
200.00    221
173.00    217
172.00    212
 80.00    196
176.00    195
195.00    193
199.00    190
175.00    188
101.00    185
180.00    184
197.00    184
183.00    179
174.00    178
196.00    177
181.00    175
179.00    172
194.00    169
177.00    168
182.00    166
192.00    166
189.00    165
190.00    164
198.00    163
185.00    163
186.00    162
193.00    161
184.00    159
178.00    157
191.00    154
100.00    143
188.00    143
187.00    139
 81.00    127
 82.00    104
 99.00    96
 98.00    65
 83.00    61
 97.00    49
 84.00    43
 85.00    35
 96.00    29
 95.00    23
 86.00    20
 94.00    12
 93.00    10
 88.00    10
 89.00    8
 91.00    7
 92.00    6
 90.00    6
 87.00    5
 70.66    3
 47.66    1
 57.66    1
105.66    1
 65.66    1
 63.66    1
130.33    1
126.66    1
 50.66    1
 42.66    1
 66.66    1
Name: map_apache, dtype: int64
10.00    7207
12.00    6883
11.00    6467
 9.00    5747
 4.00    5654
 8.00    5022
28.00    4831
30.00    4797
29.00    4519
31.00    4164
27.00    4072
32.00    4060
33.00    3925
 7.00    3889
13.00    3849
35.00    3649
34.00    3621
26.00    3536
 6.00    3376
 5.00    3300
36.00    3295
14.00    3016
37.00    2688
38.00    2668
25.00    2410
39.00    2309
40.00    2154
41.00    1952
42.00    1717
24.00    1685
16.00    1654
43.00    1556
44.00    1432
45.00    1393
60.00    1363
46.00    1256
47.00    1153
48.00    1089
15.00    990
49.00    978
50.00    933
59.00    927
52.00    802
51.00    789
56.00    761
58.00    741
53.00    740
54.00    724
57.00    719
55.00    716
23.00    586
22.00    521
18.00    512
20.00    448
17.00    121
21.00    101
19.00    25
 9.40    3
 7.10    2
 5.90    2
 8.60    2
 7.80    1
27.80    1
 8.40    1
33.60    1
33.20    1
40.40    1
 6.80    1
36.10    1
 9.50    1
 9.90    1
32.70    1
31.70    1
33.90    1
26.50    1
 7.30    1
31.60    1
 7.20    1
 6.20    1
Name: resprate_apache, dtype: int64
138.00    11590
139.00    11525
140.00    10630
137.00    10474
136.00    9165
141.00    8695
135.00    7184
142.00    6762
134.00    5742
143.00    4467
133.00    3993
132.00    3017
144.00    2751
131.00    2274
145.00    1707
130.00    1653
146.00    1305
129.00    1177
147.00    1082
128.00    928
148.00    875
117.00    715
149.00    673
127.00    671
150.00    521
158.00    512
126.00    502
125.00    416
151.00    364
124.00    303
152.00    292
123.00    274
153.00    235
122.00    224
121.00    189
154.00    170
155.00    156
120.00    143
119.00    131
156.00    103
118.00    94
157.00    90
136.90    3
134.90    3
137.40    3
139.80    3
138.40    3
138.10    2
133.90    2
138.50    2
136.40    2
135.10    2
137.80    2
140.20    2
139.20    2
140.40    2
135.80    2
130.40    2
132.70    2
131.60    2
142.10    2
134.10    2
139.90    2
136.30    2
139.70    2
141.80    1
143.10    1
142.50    1
134.50    1
138.20    1
132.80    1
127.20    1
129.70    1
151.10    1
137.20    1
137.60    1
123.40    1
136.20    1
131.50    1
141.50    1
136.80    1
136.70    1
140.30    1
145.30    1
139.50    1
130.10    1
143.60    1
128.50    1
120.40    1
140.60    1
135.40    1
130.30    1
139.40    1
130.20    1
138.60    1
142.80    1
125.30    1
134.60    1
132.20    1
135.70    1
134.40    1
129.60    1
138.70    1
138.80    1
127.80    1
142.70    1
140.50    1
134.20    1
141.30    1
147.10    1
136.10    1
134.30    1
132.10    1
135.90    1
130.90    1
129.50    1
139.60    1
122.40    1
137.30    1
Name: sodium_apache, dtype: int64
36.40    14093
36.60    12901
36.70    12362
36.30    9778
36.50    9464
         ...
38.11    1
37.94    1
32.22    1
33.78    1
32.39    1
Name: temp_apache, Length: 221, dtype: int64
    0.00    1326
8,716.67    335
1,799.97    46
  899.94    35
2,399.93    32
            ..
6,389.19    1
  786.76    1
  899.34    1
  709.69    1
4,562.61    1
Name: urineoutput_apache, Length: 35879, dtype: int64
0    94020
1    46371
Name: ventilated_apache, dtype: int64
 8.40    887
 8.00    875
 7.80    868
 7.90    858
 7.40    856
        ...
26.63    1
24.96    1
33.03    1
39.83    1
39.53    1
Name: wbc_apache, Length: 3170, dtype: int64
 80.00    3167
 84.00    3156
 88.00    3100
 83.00    3100
 82.00    3097
 86.00    3068
 85.00    3019
 87.00    3007
 78.00    3005
 81.00    2991
 79.00    2989
 90.00    2988
 89.00    2839
 91.00    2837
 77.00    2820
 76.00    2780
 74.00    2775
 92.00    2756
 75.00    2733
 94.00    2731
 93.00    2698
 97.00    2621
 95.00    2618
 96.00    2577
 73.00    2504
 98.00    2496
 72.00    2477
 99.00    2381
 70.00    2318
 71.00    2219
 69.00    2002
100.00    1949
 68.00    1944
 67.00    1886
101.00    1842
 66.00    1803
102.00    1753
 65.00    1638
103.00    1606
104.00    1509
 64.00    1489
105.00    1447
106.00    1446
 63.00    1375
107.00    1354
108.00    1280
109.00    1182
 62.00    1171
110.00    1139
 60.00    1086
 61.00    1016
111.00    1015
112.00    1005
113.00    900
 59.00    888
114.00    870
 58.00    842
115.00    807
116.00    784
 46.00    780
117.00    738
 57.00    685
118.00    667
119.00    666
 56.00    641
165.00    626
120.00    604
121.00    569
122.00    527
 55.00    524
123.00    508
125.00    467
124.00    466
 54.00    465
127.00    410
 53.00    397
126.00    396
 52.00    353
130.00    343
128.00    342
129.00    323
131.00    317
 50.00    292
 51.00    290
132.00    270
135.00    257
134.00    256
133.00    254
 48.00    215
136.00    207
137.00    206
 49.00    201
140.00    182
138.00    181
139.00    178
141.00    175
142.00    173
 47.00    149
143.00    146
144.00    142
145.00    129
146.00    114
148.00    110
149.00    101
147.00    93
150.00    92
164.00    91
151.00    86
155.00    82
154.00    79
152.00    77
 45.00    66
156.00    66
158.00    62
160.00    60
162.00    57
153.00    56
157.00    55
159.00    47
161.00    46
163.00    39
Name: d1_diasbp_max, dtype: int64
50.00    5332
51.00    4756
52.00    4425
53.00    4296
55.00    4295
46.00    4288
49.00    4288
47.00    4287
48.00    4255
45.00    4140
54.00    4096
56.00    4040
44.00    4007
43.00    3859
42.00    3740
57.00    3591
41.00    3472
58.00    3405
40.00    3395
59.00    3185
39.00    3019
60.00    2928
38.00    2825
61.00    2509
37.00    2507
62.00    2460
36.00    2287
63.00    2172
35.00    2077
64.00    1992
34.00    1908
65.00    1882
33.00    1682
66.00    1627
67.00    1598
32.00    1530
68.00    1367
31.00    1286
69.00    1275
70.00    1226
30.00    1215
71.00    1018
29.00    965
72.00    958
28.00    911
73.00    874
13.00    860
27.00    794
26.00    713
74.00    695
75.00    657
25.00    626
90.00    619
76.00    617
77.00    565
23.00    527
24.00    474
78.00    463
22.00    426
79.00    404
21.00    381
20.00    380
80.00    369
81.00    343
82.00    286
19.00    273
83.00    253
18.00    251
17.00    243
16.00    219
84.00    218
15.00    205
14.00    203
85.00    189
87.00    140
86.00    139
88.00    135
89.00    109
92.60    53
91.00    7
92.00    5
Name: d1_diasbp_min, dtype: int64
 96.00    2999
100.00    2984
 98.00    2911
 90.00    2866
 92.00    2862
 94.00    2736
 88.00    2706
102.00    2704
104.00    2657
106.00    2611
108.00    2557
 97.00    2504
110.00    2464
101.00    2446
 93.00    2405
 99.00    2391
 95.00    2388
 86.00    2352
 91.00    2330
105.00    2262
112.00    2254
 80.00    2250
 84.00    2221
 89.00    2200
103.00    2174
109.00    2170
 87.00    2152
114.00    2148
 82.00    2146
107.00    2122
 85.00    2016
111.00    1895
116.00    1830
118.00    1816
120.00    1815
 83.00    1800
113.00    1761
 81.00    1754
115.00    1719
117.00    1706
 78.00    1667
122.00    1587
 79.00    1504
124.00    1459
119.00    1451
 76.00    1441
121.00    1434
 77.00    1361
126.00    1351
123.00    1337
 74.00    1270
128.00    1224
130.00    1188
 75.00    1185
125.00    1181
 72.00    1101
127.00    1065
129.00    978
 73.00    977
 70.00    954
132.00    947
133.00    850
 58.00    834
131.00    820
134.00    807
 71.00    802
 68.00    761
135.00    754
136.00    750
138.00    726
 69.00    696
140.00    672
137.00    666
177.00    621
 66.00    583
139.00    562
 67.00    536
142.00    535
141.00    526
144.00    507
 64.00    476
 65.00    410
145.00    401
143.00    396
146.00    390
150.00    361
148.00    351
147.00    351
 63.00    331
 62.00    324
 60.00    316
149.00    297
152.00    283
151.00    267
154.00    258
 61.00    243
153.00    222
156.00    219
160.00    202
155.00    194
158.00    169
 59.00    167
157.00    164
161.00    130
162.00    125
159.00    125
163.00    123
165.00    109
164.00    104
174.00    99
170.00    99
166.00    93
168.00    80
169.00    76
167.00    72
 57.00    63
171.00    62
172.00    61
175.00    51
173.00    47
176.00    40
Name: d1_heartrate_max, dtype: int64
 60.00    4973
 70.00    4386
 68.00    3912
 62.00    3806
 66.00    3732
 64.00    3703
 72.00    3623
 74.00    3439
 65.00    3388
 58.00    3309
 69.00    3289
 67.00    3246
 80.00    3200
 61.00    3137
 63.00    3118
 76.00    3074
 73.00    3060
 71.00    3028
 59.00    3012
 78.00    2910
 75.00    2910
 56.00    2727
 77.00    2624
 79.00    2606
 82.00    2507
 57.00    2493
 54.00    2409
 84.00    2298
 81.00    2141
 55.00    2137
 83.00    1982
 86.00    1980
 52.00    1972
 53.00    1887
 85.00    1862
 88.00    1796
 90.00    1679
 87.00    1649
 50.00    1599
 51.00    1508
 89.00    1496
 92.00    1385
 91.00    1202
 49.00    1162
 94.00    1145
 48.00    1122
 96.00    1108
 93.00    1105
  0.00    971
 95.00    919
 46.00    907
 47.00    892
 98.00    811
 97.00    751
100.00    743
 44.00    701
 45.00    676
 99.00    646
101.00    632
102.00    599
 42.00    509
104.00    492
103.00    490
 43.00    473
106.00    406
 40.00    398
105.00    385
108.00    361
 41.00    340
109.00    313
110.00    284
 39.00    273
107.00    270
 38.00    244
 36.00    225
112.00    214
 37.00    199
114.00    180
111.00    169
113.00    166
 35.00    154
 34.00    137
115.00    133
 32.00    129
116.00    128
 33.00    119
 30.00    112
118.00    110
 25.00    99
120.00    95
117.00    94
119.00    91
 31.00    88
 29.00    77
122.00    65
121.00    62
 26.00    62
123.00    58
 28.00    53
124.00    52
 27.00    49
125.00    38
126.00    33
128.00    32
 24.00    29
 20.00    27
 22.00    24
127.00    23
 12.00    22
130.00    22
 16.00    21
 10.00    18
136.00    17
131.00    17
  8.00    16
 17.00    16
 23.00    16
 18.00    16
133.00    15
 19.00    14
  6.00    14
 15.00    14
132.00    13
137.00    13
 21.00    13
  1.00    12
  4.00    12
135.00    11
129.00    11
  5.00    11
134.00    10
 14.00    10
 11.00    10
139.00    9
  3.00    8
 13.00    7
  9.00    7
  7.00    7
138.00    6
145.00    5
142.00    5
144.00    5
149.00    4
140.00    4
141.00    4
  2.00    3
150.00    3
148.00    3
143.00    3
147.00    2
146.00    1
153.00    1
155.00    1
160.00    1
152.00    1
151.00    1
175.00    1
181.00    1
Name: d1_heartrate_min, dtype: int64
 98.00    3137
 96.00    3070
100.00    3069
 97.00    3016
103.00    2998
104.00    2990
 94.00    2986
102.00    2960
101.00    2932

113.00    1131
122.00    1128
114.00    1123
112.00    1113
119.00    1097
          ...
548.00    2
610.00    2
555.00    2
541.00    1
606.00    1
Name: d1_glucose_max, Length: 539, dtype: int64
 97.00    2069
 96.00    2046
 98.00    2008
 95.00    1995
100.00    1986
          ...
284.00    10
292.00    3
289.00    2
290.00    1
291.00    1
Name: d1_glucose_min, Length: 262, dtype: int64
24.00    12841
25.00    12638
23.00    11624
26.00    11510
22.00    9549
         ...
32.40    1
13.80    1
18.80    1
13.20    1
14.80    1
Name: d1_hco3_max, Length: 246, dtype: int64
23.00    11730
24.00    11710
25.00    10897
22.00    10297
26.00    9391
         ...
38.70    1
36.10    1
 7.90    1
34.40    1
10.70    1
Name: d1_hco3_min, Length: 278, dtype: int64
11.60    2221
10.90    2175
11.90    2099
11.30    2098
11.20    2093
11.70    2069
11.50    2050
11.80    2043
11.10    2013
10.40    2006
12.20    2005
12.30    2002
12.10    2001
11.40    1980
10.50    1972
10.60    1966
10.70    1965
12.60    1963
11.00    1957
10.80    1943
12.00    1935
12.40    1925
10.20    1921
10.30    1888
12.90    1868
10.00    1857
12.50    1845
 9.90    1821
12.70    1811
10.10    1788
12.80    1759
13.00    1733
 9.80    1724
 9.70    1719
 9.60    1716
13.10    1661
13.30    1615
13.20    1606
13.60    1602
 9.50    1585
 9.30    1569
 9.20    1555
 9.40    1506
13.40    1489
 9.10    1480
13.50    1475
 9.00    1426
 8.90    1374
13.80    1312
 8.80    1292
13.90    1287
13.70    1280
 8.60    1221
 8.70    1219
14.00    1212
14.10    1184
 8.50    1181
 8.40    1086
14.30    1051
14.20    1025
 8.20    997
14.40    985
 8.30    950
 8.10    948
14.60    892
14.50    886
 8.00    775
 6.80    740
14.70    738
 7.90    721
14.90    715
15.00    688
14.80    683
 7.80    630
15.10    595
15.20    574
17.20    559
 7.70    535
15.30    495
 7.60    492
 7.50    438
15.40    427
15.50    419
 7.40    387
 7.30    372
15.60    355
15.70    350
15.80    309
 7.20    306
16.00    291
15.90    278
 7.00    259
 7.10    232
16.10    215
16.30    201
16.20    194
16.40    153
16.50    147
16.70    145
16.60    120
16.80    111
17.00    105
 6.90    96
16.90    92
17.10    86
Name: d1_hemaglobin_max, dtype: int64
10.90    1982
11.60    1954
11.30    1942
11.10    1941
11.20    1903
12.10    1874
11.90    1874
11.80    1871
11.70    1866
11.50    1864
10.20    1852
11.40    1851
10.70    1847
11.00    1847
10.60    1843
10.80    1834
10.50    1810
12.20    1800
10.30    1800
12.00    1799
10.40    1798
 9.90    1783
10.10    1742
10.00    1741
12.30    1740
12.50    1729
 9.60    1700
12.40    1696
 9.80    1691
 9.70    1685
12.60    1681
12.90    1645
 9.50    1637
 9.20    1619
 9.40    1594
12.70    1588
 9.30    1586
 8.80    1556
12.80    1538
13.00    1524
 9.10    1522
 9.00    1489
 8.90    1461
13.10    1438
13.20    1403
 8.70    1401
 8.50    1378
 8.60    1356
13.40    1333
 8.40    1315
13.60    1311
13.30    1299
13.50    1259
 8.20    1258
 8.30    1193
 8.10    1157
 8.00    1126
13.80    1122
13.70    1114
13.90    1101
 7.80    1093
 7.90    1093
14.00    986
14.10    962
 7.70    951
 7.50    932
 7.60    919
 7.40    862
14.20    860
14.30    835
14.40    795
 7.30    746
14.50    725
 7.10    724
 7.20    711
 5.30    704
14.60    691
 7.00    644
14.70    634
 6.80    606
 6.90    571
14.80    552
16.70    537
14.90    529
15.00    501
 6.70    491
15.10    453
15.20    413
 6.60    409
 6.50    399
15.30    371
 6.40    351
15.50    313
15.40    311
 6.30    284
15.70    248
15.60    245
 6.10    242
 6.20    239
15.80    221
15.90    195
 6.00    188
16.00    177
 5.90    166
 5.80    156
 5.40    154
16.10    153
 5.60    131
16.30    125
 5.70    125
16.60    118
16.20    113
16.40    108
 5.50    100
16.50    85
Name: d1_hemaglobin_min, dtype: int64
35.00    1265
36.00    1241
33.00    1215
38.00    1201
34.00    1161
         ...
51.10    23
50.40    22
51.40    19
50.70    18
50.90    17
Name: d1_hematocrit_max, Length: 313, dtype: int64
34.00    1160
36.00    1139
35.00    1128
32.00    1117
33.00    1088
         ...
49.10    19
16.60    16
49.30    15
16.00    4
15.90    2
Name: d1_hematocrit_min, Length: 343, dtype: int64
1.10    7883
1.20    6559
1.00    5373
1.30    4504
1.40    3537
        ...
7.63    1
4.05    1
6.68    1
7.69    1
6.44    1
Name: d1_inr_max, Length: 525, dtype: int64
1.10    8743
1.20    6885
1.00    6290
1.30    4567
1.40    3356
        ...
4.86    1
4.68    1
5.56    1
5.15    1
4.77    1
Name: d1_inr_min, Length: 419, dtype: int64
182.00    703
173.00    699
175.00    696
186.00    690
176.00    682
         ...
561.00    3
580.00    3
581.00    3
573.00    3
 33.20    1
Name: d1_platelets_max, Length: 560, dtype: int64
168.00    706
186.00    682
173.00    681
176.00    677
170.00    673
         ...
556.00    4
548.00    4
551.00    3
 33.20    1
553.00    1
Name: d1_platelets_min, Length: 544, dtype: int64
4.10    9774
4.00    9721
4.20    9291
3.90    9086
4.30    8317
3.80    8198
4.40    7512
3.70    6696
4.50    6422
3.60    5562
4.60    5433
4.70    4500
3.50    4252
4.80    3733
3.40    3118
4.90    3064
5.00    2551
3.30    2131
5.10    2119
5.20    1682
3.20    1492
5.30    1384
5.40    1220
3.10    962
5.50    959
5.60    872
5.70    732
2.80    679
5.80    628
3.00    627
7.00    550
5.90    549
6.00    467
6.10    408
2.90    368
6.20    332
6.30    288
6.40    259
6.50    211
6.70    171
6.60    161
6.80    145
6.90    121
6.85    46
4.24    4
4.22    3
4.05    3
4.03    3
4.65    3
4.51    2
3.82    2
4.31    2
6.53    2
5.71    2
4.73    2
4.06    2
5.92    2
5.25    2
3.97    2
4.63    1
3.62    1
4.34    1
4.48    1
4.46    1
3.74    1
4.27    1
4.82    1
4.01    1
5.05    1
5.04    1
3.91    1
5.07    1
4.04    1
3.57    1
4.92    1
4.36    1
3.67    1
3.55    1
3.87    1
4.07    1
4.12    1
5.09    1
3.86    1
3.73    1
4.29    1
3.68    1
5.37    1
6.01    1
4.52    1
6.58    1
3.51    1
3.78    1
5.28    1
5.51    1
6.26    1
4.72    1
6.55    1
4.96    1
5.58    1
4.11    1
4.02    1
5.06    1
4.66    1
3.81    1
4.38    1
Name: d1_potassium_max, dtype: int64
3.90    9884
3.80    9758
4.00    9381
3.70    9130
4.10    8780
3.60    7991
4.20    7854
3.50    6868
4.30    6520
3.40    5843
4.40    5423
3.30    4716
4.50    4382
3.20    3745
4.60    3533
3.10    2796
4.70    2793
4.80    2202
3.00    2032
4.90    1781
2.90    1540
5.00    1424
5.10    1160
2.80    1138
5.20    915
2.40    891
2.70    714
5.30    679
5.40    549
5.80    535
2.60    501
5.50    388
2.50    353
5.60    310
5.70    252
3.57    4
3.59    4
3.64    3
4.37    3
3.49    3
3.24    3
4.06    2
4.04    2
4.15    2
3.05    2
4.27    2
3.93    2
3.81    2
3.21    2
4.07    2
4.05    2
3.53    2
3.72    2
3.71    2
3.68    2
4.22    2
4.03    2
3.88    2
2.86    1
3.85    1
4.18    1
4.09    1
3.55    1
3.91    1
3.37    1
3.28    1
3.76    1
3.74    1
3.98    1
4.14    1
3.89    1
3.95    1
3.99    1
4.63    1
4.21    1
4.43    1
4.58    1
3.62    1
4.48    1
4.41    1
4.92    1
3.96    1
5.28    1
3.78    1
2.99    1
2.72    1
3.29    1
4.99    1
3.35    1
4.91    1
3.39    1
3.66    1
3.44    1
3.84    1
4.29    1
3.73    1
4.75    1
3.86    1
3.77    1
3.48    1
3.94    1
4.12    1
3.12    1
4.33    1
3.87    1
5.21    1
4.51    1
3.41    1
4.02    1
3.79    1
4.39    1
5.58    1
4.24    1
2.96    1
3.52    1
3.61    1
3.56    1
4.38    1
Name: d1_potassium_min, dtype: int64
139.00    13022
140.00    12852
138.00    12251
141.00    11461
137.00    10372
142.00    9500
136.00    8355
143.00    7000
135.00    6208
144.00    5272
134.00    4695
145.00    3709
133.00    3196
146.00    2545
132.00    2331
131.00    1779
147.00    1740
148.00    1178
130.00    1176
149.00    873
129.00    870
123.00    862
150.00    654
128.00    624
158.00    570
127.00    469
151.00    435
126.00    361
152.00    342
153.00    266
125.00    247
124.00    221
154.00    184
155.00    169
156.00    119
157.00    101
140.20    3
140.50    2
141.60    2
138.10    2
139.70    2
138.30    2
137.80    2
137.70    2
134.40    2
134.80    1
151.10    1
142.50    1
148.10    1
139.10    1
144.20    1
135.60    1
133.20    1
141.40    1
134.70    1
145.90    1
139.20    1
139.40    1
135.40    1
140.60    1
145.80    1
144.50    1
130.80    1
139.50    1
131.40    1
145.30    1
147.10    1
141.30    1
139.90    1
132.60    1
138.40    1
146.20    1
Name: d1_sodium_max, dtype: int64
138.00    12987
139.00    12721
137.00    11939
140.00    11663
136.00    10364
141.00    9555
135.00    8149
142.00    7432
134.00    6580
143.00    5123
133.00    4600
144.00    3469
132.00    3432
131.00    2588
145.00    2376
130.00    1870
146.00    1457
129.00    1327
128.00    1040
147.00    969
117.00    786
127.00    747
148.00    626
126.00    558
153.00    517
125.00    472
149.00    427
124.00    326
150.00    308
123.00    292
122.00    230
151.00    206
121.00    201
152.00    162
120.00    154
119.00    140
118.00    109
136.30    4
134.40    4
138.40    4
136.80    4
135.70    3
134.90    3
137.40    3
137.80    3
136.90    3
136.20    3
139.20    3
139.80    2
127.80    2
130.40    2
139.10    2
135.10    2
139.50    2
138.50    2
134.50    2
135.90    2
141.30    2
140.10    2
142.10    2
136.40    2
141.50    2
130.10    2
130.30    2
135.80    2
132.70    2
143.10    2
140.40    2
134.10    2
134.70    2
144.40    2
129.60    2
133.40    2
131.60    2
129.70    1
141.80    1
136.70    1
149.20    1
143.40    1
131.50    1
148.50    1
144.20    1
134.80    1
142.20    1
144.60    1
140.30    1
138.20    1
133.90    1
132.80    1
137.20    1
135.60    1
140.70    1
127.20    1
123.40    1
148.70    1
139.70    1
141.40    1
135.40    1
122.40    1
130.80    1
134.30    1
130.20    1
138.30    1
128.50    1
120.40    1
140.80    1
139.40    1
138.70    1
142.40    1
142.80    1
125.30    1
134.60    1
132.20    1
138.10    1
138.80    1
145.90    1
135.30    1
139.60    1
139.30    1
129.50    1
136.60    1
140.20    1
144.90    1
147.80    1
147.40    1
142.70    1
150.70    1
140.50    1
134.20    1
132.60    1
146.40    1
143.80    1
132.50    1
136.10    1
132.10    1
144.30    1
130.90    1
137.30    1
Name: d1_sodium_min, dtype: int64
 8.40    907
10.20    903
 9.20    901
 9.70    900
 8.00    885
        ...
40.61    1
35.22    1
35.99    1
35.56    1
39.92    1
Name: d1_wbc_max, Length: 3191, dtype: int64
 8.40    1032
 8.80    1020
 8.00    1016
 7.80    1004
 8.60    994
        ...
34.16    1
36.55    1
24.35    1
28.42    1
39.53    1
Name: d1_wbc_min, Length: 2853, dtype: int64
42.00    1238
40.00    1234
44.00    1205
43.00    1203
41.00    1181
         ...
99.90    1
97.70    1
90.60    1
99.20    1
96.20    1
Name: d1_arterial_pco2_max, Length: 869, dtype: int64
38.00    1539
37.00    1460
35.00    1451
36.00    1449
39.00    1336
         ...
78.60    1
76.30    1
78.30    1
80.30    1
79.90    1
Name: d1_arterial_pco2_min, Length: 700, dtype: int64
7.40    1903
7.38    1902
7.39    1840
7.41    1832
7.42    1755
        ...
7.58    1
7.08    1
7.10    1
7.08    1
7.07    1
Name: d1_arterial_ph_max, Length: 546, dtype: int64
7.36    1520
7.34    1516
7.35    1511
7.33    1458
7.32    1456
        ...
6.90    1
6.96    1
6.93    1
6.92    1
7.55    1
Name: d1_arterial_ph_min, Length: 638, dtype: int64
 82.00    381
 81.00    374
 88.00    365
 91.00    350
 78.00    343
         ...
195.60    1
341.10    1
195.70    1
305.80    1
218.50    1
Name: d1_arterial_po2_max, Length: 2615, dtype: int64
 71.00    666
 69.00    642
 73.00    622
 70.00    617
 65.00    617
         ...
230.60    1
186.20    1
151.60    1
270.80    1
182.90    1
Name: d1_arterial_po2_min, Length: 1928, dtype: int64
0    140247
1    144
Name: aids, dtype: int64
0    138175
1    2216
Name: cirrhosis, dtype: int64
0    136819
1    3572
Name: immunosuppression, dtype: int64
0    139373
1    1018
Name: leukemia, dtype: int64
0    139804
1    587
Name: lymphoma, dtype: int64
0    137496
1    2895
Name: solid_tumor_with_metastasis, dtype: int64
 52.00    2884
 55.00    2873
 54.00    2861
 53.00    2856
 50.00    2828
          ...
136.60    1
 95.60    1
-50.00    1
166.00    1
 79.60    1
Name: pp, Length: 238, dtype: int64
15.00    81634
14.00    16219
 3.00    7418
13.00    6679
10.00    4494
11.00    4028
12.00    3736
 7.00    3476
 8.00    3217
 9.00    3174
 6.00    2598
 5.00    669
 4.00    654
Name: gcs, dtype: int64
27.36    127
28.69    122
24.21    121
24.02    118
25.81    116
        ...
23.00    1
23.18    1
28.62    1
25.27    1
50.37    1
Name: bmi_calc, Length: 42982, dtype: int64

In [22]:
df[existing_numerical_columns].isnull().sum(axis=0)

encounter_id                   0
age                            4988
elective_surgery               0
ethnicity                      0
gender                         0
height                         2378
hospital_admit_source          0
icu_admit_source               0
icu_stay_type                  0
icu_type                       0
pre_icu_los_days               0
weight                         4371
albumin_apache                 84218
apache_2_diagnosis             1855
apache_3j_diagnosis            973
apache_post_operative          0
arf_apache                     0
bilirubin_apache               88870
bun_apache                     27472
creatinine_apache              26925
glucose_apache                 15906
heart_rate_apache              339
hematocrit_apache              28872
intubated_apache               0
map_apache                     472
resprate_apache                872
sodium_apache                  26512
temp_apache                    7282
urineoutput_apache             68357
ventilated_apache              0
wbc_apache                     31851
d1_diasbp_max                  300
d1_diasbp_min                  300
d1_heartrate_max               286
d1_heartrate_min               286
d1_mbp_max                     364
d1_mbp_min                     364
d1_resprate_max                738
d1_resprate_min                738
d1_spo2_max                    594
d1_spo2_min                    594
d1_sysbp_max                   294
d1_sysbp_min                   294
d1_temp_max                    4924
d1_temp_min                    4924
d1_albumin_max                 76946
d1_albumin_min                 76946
d1_bilirubin_max               82595
d1_bilirubin_min               82595
d1_bun_max                     14842
d1_bun_min                     14842
d1_calcium_max                 18094
d1_calcium_min                 18094
d1_creatinine_max              14364
d1_creatinine_min              14364
d1_glucose_max                 8924
d1_glucose_min                 8924
d1_hco3_max                    21641
d1_hco3_min                    21641
d1_hemaglobin_max              17481
d1_hemaglobin_min              17481
d1_hematocrit_max              16817
d1_hematocrit_min              16817
d1_inr_max                     87249
d1_inr_min                     87249
d1_platelets_max               19954
d1_platelets_min               19954
d1_potassium_max               13516
d1_potassium_min               13516
d1_sodium_max                  14336
d1_sodium_min                  14336
d1_wbc_max                     18851
d1_wbc_min                     18851
d1_arterial_pco2_max           90872
d1_arterial_pco2_min           90872
d1_arterial_ph_max             91292
d1_arterial_ph_min             91292
d1_arterial_po2_max            90352
d1_arterial_po2_min            90352
aids                           0
cirrhosis                      0
immunosuppression              0
leukemia                       0
lymphoma                       0
solid_tumor_with_metastasis    0
pp                             300
gcs                            2395
bmi_calc                       5505
dtype: int64

In [23]:
nonBinaryColumns = [x for x in existing_numerical_columns if x not in binaryColumns]
print(nonBinaryColumns)

['encounter_id', 'age', 'ethnicity', 'gender', 'height', 'hospital_admit_source', 'icu_admit_source', 'icu_stay_type', 'icu_type', 'pre_icu_los_days', 'weight', 'albumin_apache', 'apache_2_diagnosis', 'apache_3j_diagnosis', 'arf_apache', 'bilirubin_apache', 'bun_apache', 'creatinine_apache', 'glucose_apache', 'heart_rate_apache', 'hematocrit_apache', 'map_apache', 'resprate_apache', 'sodium_apache', 'temp_apache', 'urineoutput_apache', 'wbc_apache', 'd1_diasbp_max', 'd1_diasbp_min', 'd1_heartrate_max', 'd1_heartrate_min', 'd1_mbp_max', 'd1_mbp_min', 'd1_resprate_max', 'd1_resprate_min', 'd1_spo2_max', 'd1_spo2_min', 'd1_sysbp_max', 'd1_sysbp_min', 'd1_temp_max', 'd1_temp_min', 'd1_albumin_max', 'd1_albumin_min', 'd1_bilirubin_max', 'd1_bilirubin_min', 'd1_bun_max', 'd1_bun_min', 'd1_calcium_max', 'd1_calcium_min', 'd1_creatinine_max', 'd1_creatinine_min', 'd1_glucose_max', 'd1_glucose_min', 'd1_hco3_max', 'd1_hco3_min', 'd1_hemaglobin_max', 'd1_hemaglobin_min', 'd1_hematocrit_max', 'd1_hematocrit_min', 'd1_inr_max', 'd1_inr_min', 'd1_platelets_max', 'd1_platelets_min', 'd1_potassium_max', 'd1_potassium_min', 'd1_sodium_max', 'd1_sodium_min', 'd1_wbc_max', 'd1_wbc_min', 'd1_arterial_pco2_max', 'd1_arterial_pco2_min', 'd1_arterial_ph_max', 'd1_arterial_ph_min', 'd1_arterial_po2_max', 'd1_arterial_po2_min', 'pp', 'gcs', 'bmi_calc']

In [24]:
for i in nonBinaryColumns:
    df[i].fillna(df[i].mean(),inplace=True)

In [25]:
df[nonBinaryColumns].isnull().sum(axis=0)

encounter_id             0
age                      0
ethnicity                0
gender                   0
height                   0
hospital_admit_source    0
icu_admit_source         0
icu_stay_type            0
icu_type                 0
pre_icu_los_days         0
weight                   0
albumin_apache           0
apache_2_diagnosis       0
apache_3j_diagnosis      0
arf_apache               0
bilirubin_apache         0
bun_apache               0
creatinine_apache        0
glucose_apache           0
heart_rate_apache        0
hematocrit_apache        0
map_apache               0
resprate_apache          0
sodium_apache            0
temp_apache              0
urineoutput_apache       0
wbc_apache               0
d1_diasbp_max            0
d1_diasbp_min            0
d1_heartrate_max         0
d1_heartrate_min         0
d1_mbp_max               0
d1_mbp_min               0
d1_resprate_max          0
d1_resprate_min          0
d1_spo2_max              0
d1_spo2_min              0
d1_sysbp_max             0
d1_sysbp_min             0
d1_temp_max              0
d1_temp_min              0
d1_albumin_max           0
d1_albumin_min           0
d1_bilirubin_max         0
d1_bilirubin_min         0
d1_bun_max               0
d1_bun_min               0
d1_calcium_max           0
d1_calcium_min           0
d1_creatinine_max        0
d1_creatinine_min        0
d1_glucose_max           0
d1_glucose_min           0
d1_hco3_max              0
d1_hco3_min              0
d1_hemaglobin_max        0
d1_hemaglobin_min        0
d1_hematocrit_max        0
d1_hematocrit_min        0
d1_inr_max               0
d1_inr_min               0
d1_platelets_max         0
d1_platelets_min         0
d1_potassium_max         0
d1_potassium_min         0
d1_sodium_max            0
d1_sodium_min            0
d1_wbc_max               0
d1_wbc_min               0
d1_arterial_pco2_max     0
d1_arterial_pco2_min     0
d1_arterial_ph_max       0
d1_arterial_ph_min       0
d1_arterial_po2_max      0
d1_arterial_po2_min      0
pp                       0
gcs                      0
bmi_calc                 0
dtype: int64

In [26]:
df.shape

(140391, 88)

In [27]:
X = df[:len(df1)]
XPred = df[len(df1):].reset_index(drop=True)

In [28]:
###############################################################################
#                        3. Create train and test set                         #
###############################################################################
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.50,random_state = 1000, stratify=y)

In [30]:
###############################################################################
#                              5. Good Ol' Classifiers                        #
###############################################################################
# Initializing Support Vector classifier
classifier1 = SVC(C = 50, degree = 1, gamma = "auto", kernel = "rbf", probability = True)
# Initializing Multi-layer perceptron  classifier
#classifier2 = MLPClassifier(activation = "relu", alpha = 0.1, hidden_layer_sizes = (10,10,10),
#                            learning_rate = "constant", max_iter = 2000, random_state = 1000)

# Initialing Nu Support Vector classifier
#classifier3 = NuSVC(degree = 1, kernel = "rbf", nu = 0.25, probability = True)

# Initializing Random Forest classifier
classifier4 = RandomForestClassifier(n_estimators = 500, criterion = "gini", max_depth = 10,
                                     max_features = "auto", min_samples_leaf = 0.005,
                                     min_samples_split = 0.005, n_jobs = -1, random_state = 1000)

In [33]:
from sklearn.ensemble import RandomForestClassifier, StackingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

layer_one_estimators = [
                        ('rf_1', RandomForestClassifier(n_estimators=10, random_state=42)),
                        ('knn_1', KNeighborsClassifier(n_neighbors=5))             
                       ]
layer_two_estimators = [
                        ('dt_2', DecisionTreeClassifier()),
                        ('rf_2', RandomForestClassifier(n_estimators=50, random_state=42)),
                       ]
layer_two = StackingClassifier(estimators=layer_two_estimators, final_estimator=LogisticRegression())

# Create Final model by 
clf = StackingClassifier(estimators=layer_one_estimators, final_estimator=layer_two)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5,stratify=y, random_state=42)
clf.fit(X_train, y_train).score(X_test, y_test)

0.8043762196714762

In [35]:
ypred=clf.predict(XPred)

In [44]:
len(ypred)

10234

In [45]:
import pandas
df_csv = pandas.DataFrame(data={"col1": df2['encounter_id'], "col2": ypred})
#df_csv.to_csv("./stacking.csv", sep=',',index=False)

In [49]:
df_csv[['col1','col2']].to_csv("submission_stacking.csv",index=False)

In [46]:
df_csv.head(3)

     col1  col2
0  144740  0
1  141990  0
2  142038  0

In [47]:
df_csv.nunique()

col1    10234
col2    2
dtype: int64

In [32]:
###############################################################################
#                             6. Stacking Classifier                          #
###############################################################################
# Initializing the StackingCV classifier
sclf = StackingClassifier(classifiers = [classifier1, classifier4],
                            shuffle = False,
                            use_probas = True,
                            cv = 5,
                            meta_classifier = SVC(probability = True))

In [33]:
###############################################################################
#                       7. Putting classifiers in a dictionary                #
###############################################################################
# Create list to store classifiers
classifiers = {"SVC": classifier1,"MLP": classifier2,"NuSVC": classifier3,"RF": classifier4,"Stack": sclf}

classifiers = {"SVC": classifier1,RF": classifier4,"Stack": sclf}

In [ ]:
###############################################################################
#                               8. Train classifiers                          #
###############################################################################
# Train classifiers
for key in classifiers:
    # Get classifier
    classifier = classifiers[key]
    
    # Fit classifier
    classifier.fit(X_train, y_train)
        
    # Save fitted classifier
    classifiers[key] = classifier

In [ ]:
###############################################################################
#                              9. Making predictions                          #
###############################################################################
# Get results
results = pd.DataFrame()
for key in classifiers:
    # Make prediction on test set
    y_pred = classifiers[key].predict_proba(X_test)[:,1]
    
    # Save results in pandas dataframe object
    results[f"{key}"] = y_pred

# Add the test set to the results object
results["Target"] = y_test

In [ ]:
TARGET_COL = "diabetes_mellitus"

In [ ]:
df =pd.read_csv('/kaggle/input/widsdatathon2021/TrainingWiDS2021.csv')
test =pd.read_csv('/kaggle/input/widsdatathon2021/UnlabeledWiDS2021.csv')

In [ ]:
df.drop(df.columns[df.columns.str.contains('^h1')], axis=1, inplace=True)

In [ ]:
df.drop(['hospital_id'], axis=1, inplace=True)

In [ ]:
df.drop(df.columns[df.columns.str.contains('^Un')], axis=1, inplace=True)

In [ ]:
df.drop(df.columns[df.columns.str.contains('invasive')], axis=1, inplace=True)
df.drop(df.columns[df.columns.str.contains('noninvasive')], axis=1, inplace=True)

In [ ]:
cols = df.columns[df.isnull().mean()>0.7]

In [ ]:
print(cols)

In [ ]:
len(cols)

In [ ]:
df.drop(cols, axis=1, inplace=True)

In [ ]:
df.info()
df.value_counts()

In [ ]:
df.shape

In [ ]:
df.head(3)

In [ ]:
dfCorr = df.corr()

In [ ]:
corrlist = df.corr().unstack().sort_values().drop_duplicates()

In [ ]:
print(corrlist)

In [ ]:
kot = dfCorr[dfCorr>=0.99]

In [ ]:
plt.figure(figsize=(15,12))
sns.heatmap(kot,cmap="Greens")

In [ ]:
c = df.corr().abs()
s = c.unstack()
so = s.sort_values(kind="quicksort")

In [ ]:
print(so)

In [ ]:
print([c for c in df.columns if 7<df[c].nunique()<800])

In [ ]:
print([c for c in df.columns if (1<df[c].nunique()) & (df[c].dtype != np.number)& (df[c].dtype != int) ])

In [ ]:
categorical_cols =  ['ethnicity', 'gender', 'hospital_admit_source', 'icu_admit_source', 'icu_stay_type', 'icu_type']

In [ ]:
display(df[categorical_cols].dtypes)

In [ ]:
display(df[categorical_cols].isna().sum())

In [ ]:
df[categorical_cols] = df[categorical_cols].fillna("")

In [ ]:
display(df[categorical_cols].dtypes)

In [ ]:
display(df[categorical_cols].isna().sum())

In [ ]:
#for col in categorical_cols:
#     df[col] = pd.to_numeric(df[col], errors='coerce')

In [ ]:
#for col in categorical_cols:
#    df[col]=df[col].fillna(df[col].mode(),inplace=True)

In [ ]:
 df['ethnicity'] = pd.to_numeric(df['ethnicity'],errors='coerce')

In [ ]:
df['gender'] = pd.to_numeric(df['ethnicity'],errors='coerce')
df['hospital_admit_source'] = pd.to_numeric(df['hospital_admit_source'],errors='coerce')
df['icu_admit_source'] = pd.to_numeric(df['icu_admit_source'],errors='coerce')
df['icu_stay_type'] = pd.to_numeric(df['icu_stay_type'],errors='coerce')
df['icu_type'] = pd.to_numeric(df['icu_type'],errors='coerce')

In [ ]:
df.dtypes

In [ ]:
numerical_Columns=[]
for i in df.columns:
    if df[i].dtype=='int32' or df[i].dtype=='float32' or  df[i].dtype=='int64' or df[i].dtype=='float64':
        numerical_Columns.append(i)

In [ ]:
df.dtypes

In [ ]:
df[numerical_Columns] = df[numerical_Columns].fillna(0)

In [ ]:
df.isna().sum()

In [ ]:
df.dtypes

In [ ]:
df['ethnicity']=df['ethnicity'].fillna(0)

In [ ]:
df.isna().sum()

In [ ]:
df['gender']=df['gender'].fillna(0)
df['hospital_admit_source']=df['hospital_admit_source'].fillna(0)
df['icu_admit_source']=df['icu_admit_source'].fillna(0)
df['icu_stay_type']=df['icu_stay_type'].fillna(0)
df['icu_type']=df['icu_type'].fillna(0)

In [ ]:
df.isna().sum()

In [ ]:
X_train = df.drop([TARGET_COL],axis=1)
y_train = df[TARGET_COL]

In [ ]:
from numpy import mean
from numpy import std
from sklearn.datasets import make_classification
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.feature_selection import RFECV
from sklearn.tree import DecisionTreeClassifier
from sklearn.pipeline import Pipeline
from sklearn.feature_selection import RFE, f_regression
from sklearn.linear_model import LogisticRegression

In [ ]:
from sklearn.linear_model import (LinearRegression, Ridge, Lasso)
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import RandomForestRegressor

In [ ]:
# create pipeline
model = LogisticRegression()
#rfe = RFECV(estimator=DecisionTreeClassifier())
#model = DecisionTreeClassifier()
#pipeline = Pipeline(steps=[('s',rfe),('m',model)])

In [ ]:
rfe = RFE(model, 20)
rfe = rfe.fit(X_train, y_train)

In [ ]:
# summarize the selection of the attributes
#print(rfe.support_)
#print(rfe.ranking_)

In [ ]:
# Feature Importance
from sklearn import datasets
from sklearn import metrics
from sklearn.ensemble import ExtraTreesClassifier

In [ ]:
# fit an Extra Trees model to the data
model = ExtraTreesClassifier()

In [ ]:
model.fit(X_train, y_train)
# display the relative importance of each attribute
print(model.feature_importances_)

In [ ]:
importance = model.feature_importances_

In [ ]:
(pd.Series(model.feature_importances_, index=X_train.columns)
   .nlargest(20)
   .plot(kind='barh'))

In [ ]:
# summarize feature importance
for i,v in enumerate(importance):
	print('Feature: %0d, Score: %.5f' % (i,v))

In [ ]:
from matplotlib import pyplot
# plot feature importance
pyplot.bar([x for x in range(len(importance))], importance)
pyplot.show()

In [ ]:
# evaluate model
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)

In [ ]:
n_scores = cross_val_score(pipeline, X_train, y_train, scoring='accuracy', cv=cv, n_jobs=-1)

In [ ]:
# report performance
print('Accuracy: %.3f (%.3f)' % (mean(n_scores), std(n_scores)))

In [ ]:
print([c for c in df.columns if 7<df[c].nunique()<800])

In [ ]:
print([c for c in df.columns if (1<df[c].nunique()) & (df[c].dtype != np.number)& (df[c].dtype != int) ])

In [ ]:
categorical_cols =  ['ethnicity', 'gender', 'hospital_admit_source', 'icu_admit_source', 'icu_stay_type', 'icu_type']

In [ ]:
display(df[categorical_cols].dtypes)
display(df[categorical_cols].tail(3))
display(df[categorical_cols].isna().sum())

In [ ]:
df[categorical_cols] = df[categorical_cols].fillna("")

# same transformation for test data
test[categorical_cols] = test[categorical_cols].fillna("")

df[categorical_cols].isna().sum()

In [ ]:
for col in categorical_cols:
     df[col].fillna(df[col].mode()[0],inplace=True)

In [ ]:
display(df[categorical_cols].dtypes)

In [ ]:
#df['apache_2_diagnosis'] = pd.to_numeric(df['apache_2_diagnosis'], errors='coerce')

In [ ]:
#df['apache_2_diagnosis'] = df['apache_2_diagnosis'].fillna(0)

In [ ]:
#df.apache_3j_diagnosis.unique()

In [ ]:
display(df[categorical_cols].dtypes)

In [ ]:
#df['apache_3j_diagnosis']=df['apache_3j_diagnosis'].astype(int)#

In [ ]:
#display(df['apache_3j_diagnosis'].dtypes)

In [ ]:
#display(df[categorical_cols].dtypes)#

In [ ]:
#df['apache_2_diagnosis']=df['apache_2_diagnosis'].astype(int)

In [ ]:
display(df[categorical_cols].dtypes)

In [ ]:
display(df[categorical_cols].tail(3))

In [ ]:
display(df[categorical_cols].isna().sum())

In [ ]:
display(df[categorical_cols].isna().sum())

In [ ]:
df[categorical_cols] = df[categorical_cols].fillna("")

In [ ]:
test[categorical_cols] = test[categorical_cols].fillna("")
df[categorical_cols].isna().sum()
test[categorical_cols].isna().sum()

In [ ]:
X_train = df.drop([TARGET_COL],axis=1)
y_train = df[TARGET_COL]

In [ ]:
df[categorical_cols].info()

In [ ]:
df[categorical_cols].dtypes

In [ ]:
## catBoost Pool object
train_pool = Pool(data=X_train,label = y_train,cat_features=categorical_cols)
#                   baseline= X_train[""], ## 
#                   group_id = X_train['hospital_id']

In [ ]:
model_basic = CatBoostClassifier(verbose=False,iterations=50)#,learning_rate=0.1, task_type="GPU",)

In [ ]:
model_basic.fit(train_pool, plot=True,silent=True)

In [ ]:
print(model_basic.get_best_score())

In [ ]:
### hyperparameter tuning example grid for catboost : 
grid = {'learning_rate': [0.04, 0.1],
        'depth': [7, 11],
#         'l2_leaf_reg': [1, 3,9],
#        "iterations": [500],
       "custom_metric":['Logloss', 'AUC']}

In [ ]:
model = CatBoostClassifier()

In [ ]:
## can also do randomized search - more efficient typically, especially for large search space - `randomized_search`
grid_search_result = model.grid_search(grid, 
                                       train_pool,
                                       plot=True,
                                       refit = True, #  refit best model on all data
                                      partition_random_seed=42)

In [ ]:
print(model.get_best_score())

In [ ]:
print("best model params: \n",grid_search_result["params"])

In [ ]:
feature_importances = model.get_feature_importance(train_pool)

In [ ]:
feature_names = X_train.columns

In [ ]:
for score, name in sorted(zip(feature_importances, feature_names), reverse=True):
    if score > 0.05:
        print('{0}: {1:.2f}'.format(name, score))

In [ ]:
import shap

In [ ]:
shap.initjs()

In [ ]:
explainer = shap.TreeExplainer(model)

In [ ]:
shap_values = explainer.shap_values(train_pool)

In [ ]:
# visualize the training set predictions
# SHAP plots for all the data is very slow, so we'll only do it for a sample. Taking the head instead of a random sample is dangerous! 
shap.force_plot(explainer.expected_value,shap_values[0,:400], X_train.iloc[0,:400])

In [ ]:
# summarize the effects of all the features
shap.summary_plot(shap_values, X_train)

In [ ]:
# test[TARGET_COL] = model.predict(test.drop([TARGET_COL],axis=1),prediction_type='Probability')[:,1]#

In [ ]:
shap.force_plot(explainer.expected_value, shap_values, X_train)

In [ ]:
shap_values = shap.TreeExplainer(model).shap_values(X_train)
shap.summary_plot(shap_values, X_train, plot_type="bar")

In [ ]:
shap.dependence_plot('diabetes_mellitus', shap_values, X_train)